* {
  font-family: Helvetica;
}

body {
  display: grid;
  grid-template-rows: 300px 50px;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
}

.p1deck {
  background-color: darkblue;
  height: 300px;
  width: 200px;
  line-height: 300px;
}

.p1flip {
  background-color: cornflowerblue;
  height: 300px;
  width: 200px;
  line-height: 300px;
}

.p2deck {
  background-color: darkred;
  height: 300px;
  width: 200px;
  line-height: 300px;
}

.p2flip {
  background-color: indianred;
  height: 300px;
  width: 200px;
  line-height: 300px;
}

.button {
  height: 50px;
  width: 100px;
  background-color: grey;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

.button:hover {
  background-color: lightgray;
  color: rgb(67, 67, 67);
  cursor: pointer;
}